*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing; border-box;
   
    
}

h2{
    color: brown;
}
.menu{
    height:120vh;
    width:auto;
    background-size:cover;
    background-position:center;
    background-color:aquamarine;
    background-image: url(./wb-image.jpg);

}
.menu img{
    height:100px;
    width:100px;
    text-decoration-color: black;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top: 30px;
    padding-left: 5%;
    padding-right:5%
}
.log{
    color:red;
    font-size:large;
    letter-spacing: 1-px;
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    padding:15px 20px;
}
nav ul li a:hover{
    color:red;
    transition: .5s;
}
.info{
    position:absolute;
    top:30%;
    right:10%
}
h1{
    color:white;
    font-size:50px;
    margin:20px 0px 20px;
}
h3{
    color:white;
    font-size:50px;
    margin-bottom:55px;
}
h4{
    color:white;
    font-size:30px;
}
span{
color:aqua;
}
p{
    color:white;
    font-size:20px;
}
.aboutme{
    width:100%
    padding:100px 0px;
    background-color:black;
}
.info_aboutme image{
    height:254px;
    width:px;
    position:absolute;
    padding:100px 0 100px;
    background-color: transparent;
    

}
.text h2{
    color:aquamarine;
    font-size:7em;
    text-transform:capitalize;
    margin-bottom: 15px;

}
h5{
    background-color: blueviolet;
    font-size:3em;
    text-transform: capitalize;
   
}
.text{
    width:600px;
    background-color: black;
}
.info_aboutme{
    margin:0 auto;
    width:1000px;
    max-width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    
}
.text p{
    letter-spacing:2px;
    color:beige;
    margin-bottom:40px;
    font-size:1em;
}
.serve{
    background-color: black;
    width:100%;
    padding:100px 0;
   
}


.heading h2{
    text-align: center;
    color:olive;
    font-size: 75px;
    text-transform:capitalize;
}


.broad {
     justify-content:center;
     min-height:350px;
     align-items:center;
     display:flex;
     background-color: brown;
}


}
.broader{
    text-align: center;
    overflow: hidden;
    width:340px;
    padding:20px 35px;
    position:relative;
    border-radius:20px;
    background-color:red;
    height:250px;
    margin:15px
    
    

}
.broader i{
    text-align:center;
    font-size:60px;
    display:block;
    color:white;
}
.broader #press{
    display:block;
    padding: 10px 30px;
    border-radius: 35px;
font-weight:bold;
background-color: blueviolet;
text-decoration:none;
}
.broader #press:hover{
    color:green;
    transition: .4s;
    cursor:pointer;

}:
.socials{
    justify-content: center;
    background: #191919;;
    width:100%;
    height:300px;
    align-items:center;
    display:flex;

}
.socials h1{
    color:brown;
    font-weight:bolder;
    font-size:30px;
    margin-bottom:30px;
}

.handle1 i{
    text-align:justify;
    font-size:40px;
    display:flex;
    color:white;
}
.handle1 p{
    color:blueviolet;
    position:relative;
}
